:root{
--cyan: hsl(179, 62%, 43%);
--bright-yellow: hsl(71, 73%, 54%);


--light-gray: hsl(204, 43%, 93%);
--grayish-blue: hsl(218, 22%, 67%);
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}

li{
    font-family: inherit;
}
body{
    background-color: var(--light-gray);
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: 650px;
    margin-bottom: 1rem;
}

.community{
    grid-column: span 2;
    background-color: white;
    padding: 2rem;
    border-radius:0.5rem 0.5rem 0 0;
}

h1{
    color: var(--cyan);
    margin: 1rem 0;
    font-size: 1.5rem;
}

.access{
    color:var(--grayish-blue);
}

.guarantee{
    color: var(--bright-yellow);
    margin: 0.5rem 0;
}

h2{
    font-size: 1.2rem;
}
p{
    color:white;
    opacity: 0.8;
    line-height: 1.5rem;
}

.subscription{
    background-color: var(--cyan);
    padding: 2rem;
    color: white;
    border-radius: 0 0 0 0.5rem;
}

.subscription h2{
    font-weight: 700;
    margin: 0.5rem 0;
}

.subscription ul{
    display: flex;
    align-items: center;
    margin: 1rem 0 0.5rem 0;
}

.subscription ul li:first-child{
    font-size: 2rem;
    margin-right: 1rem;
}

.subscription ul li:last-child{
    font-weight: 400;
    opacity: 0.6;
}

.btn{
    width: 100%;
    padding:1rem;
    border:none;
    background-color: var(--bright-yellow);
    margin: 1rem 0 0.5rem 0;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 1px 1px var(--bright-yellow);
}

.why-us{
    background-color: rgb(106, 188, 187);
    padding: 2rem;
    border-radius: 0 0 0.5rem 0;
}

.why-us h2{
        font-weight: 700;
        margin: 0.5rem 0;
        color: white;
}

.why-us p{
    font-size: 0.85rem;
    font-weight: 400;
    opacity: 0.6;
    line-height: 1.2rem;
}

@media screen and (max-width: 640px) {
    .container {
      grid-template-columns: 1fr; /* Change to a single column layout */
      grid-template-rows: auto auto auto; /* Make each div take a full row */
      margin: 1rem;
    }

    .community,
    .subscription,
    .why-us {
      grid-column: span 1; /* Each div spans the full width */
      padding: 1rem;
    }

    .community{
        border-radius:0.3rem 0.3rem 0 0;
    }
    .subscription{
        border-radius: 0;
    }

    .why-us{
        border-radius: 0 0 0.3rem 0.3rem;
    }
    h1{
        font-size: 1.2rem;
    }

    h2{
        font-size: 1rem;
    }

    p{
        font-size: 0.875rem;
    } 
  }
.attribution { font-size: 12px; text-align: center;
    color: blue;

}
.attribution a { color: hsl(228, 45%, 44%); }
